body {
    background-color: #c4abc5;
    font-family: sans-serif;
}
.app-wrapper {
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: auto;
}
ul {
    padding: 0;
    margin: 0;
}
#newTaskInput {
    width: 85%;
    padding: 10px 80px 10px 10px;
    border: 0;
    height: 40px;
    outline: none;
}
#addTask {
    background: transparent;
    border: none;
    position: absolute;
    right: 1px;
    bottom: 1px;
    top: 1px;
    cursor: pointer;
    outline: none;
    color: cornflowerblue;
    font-weight: bold;
}
.task-item {
    background-color: #9c91d7;
    list-style-type: none;
    height: 60px;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2C3E50;
}
.task-item:last-child {
    border-radius: 0 0 5px 5px;
}
/*.task-item:nth-child(odd) {*/
    /*background-color: #DEDEDE;*/
/*}*/
.todo-container {
    width: 600px;
}
.todo-form {
    position: relative;
}
.remove-btn {
    background: transparent;
    border: none;
    color: #b40000;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.task-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 500px;
    color: #ffffff;
    font-size: 16px;
}
.decor {
    text-decoration: line-through;
    color: black;
    }
.task-item.done {
    background: grey ;
}
#addTask.disabled {
    color: grey;
    cursor: not-allowed;
}